.button {
    background-color: var(--accent-color-2);
    border-radius: 9999px;
    color: var(--accent-color);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.3rem 0.5rem;
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 300px;
    text-transform: uppercase;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--accent-color);
        color: var(--secondary-color);
    }

    &:active {
        animation: pulse 300ms ease;
    }
}