@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");

:root {
  --primary-color: #fffff0;
  --primary-color-rgb: 255, 255, 240;

  --secondary-color: #d2b493;
  --secondary-color-rgb: 210, 180, 147;

  --accent-color: #2d0e02;
  --accent-color-rgb: 45, 14, 2;

  --accent-color-2: #b78d6c;
  --accent-color-2-rgb: 183, 141, 108;

  --font-family: "Ysabeau", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: "Ysabeau", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  position: relative;
  height: 100dvh;
}
